@model IEnumerable<Dominican_Hair_Salon.Models.Inventario>

@{
    ViewData["Title"] = "Inventario";
}

<h1>Inventario</h1>

<p>
    <a asp-action="Create">Añadir Producto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Producto
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sucursal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sucursal.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InventarioId">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.InventarioId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>

<footer class="border-top footer text-muted">
    <div class="container">
        <a class="btn waves-effect waves-light" asp-controller="Login" asp-action="CerrarSesion">Finalizar Dia</a>
    </div>
</footer>