@model IEnumerable<Dominican_Hair_Salon.Models.Usuario>

@{
    ViewData["Title"] = "Usuarios";
}

<h1>Usuarios</h1>

<p>
    <a asp-action="Create">Crear Usuario</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre de Usuario
            </th>
            <th>
                Contraseña
            </th>
            <th>
                Estado
            </th>
            <th>
                Rol
            </th>
            <th>
                Sucursal
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
                @if (int.Parse(item.Status) == 1)
                {
                    <td>
                        Activo
                    </td>
                }
                else
                {
                    <td>Inactivo</td>
                }
            <td>
                @Html.DisplayFor(modelItem => item.RoleNavigation.RoleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SucursalNavigation.SucursalesId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserId">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.UserId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>

<footer class="border-top footer text-muted">
    <div class="container">
        <a class="btn waves-effect waves-light" asp-controller="Login" asp-action="CerrarSesion">Finalizar Dia</a>
    </div>
</footer>