@model IEnumerable<Dominican_Hair_Salon.Models.Sucursal>

@{
    ViewData["Title"] = "Sucursal";
}

<h1>Sucursales</h1>

<p>
    <a asp-action="Create">Añadir Sucursal</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>


                @if (int.Parse(item.Status) == 1)
                {
                    <td>
                        Activo
                    </td>
                }
                else
                {
                    <td>Inactivo</td>
                }
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.SucursalesId">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.SucursalesId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
<footer class="border-top footer text-muted">
    <div class="container">
        <a class="btn waves-effect waves-light" asp-controller="Login" asp-action="CerrarSesion">Finalizar Dia</a>
    </div>
</footer>
